doctype html
//
	Forty by HTML5 UP
	html5up.net | @ajlkn
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
html

	- var title = 'Pictures'
	- var template = 'forty'
	include templates/header.pug

	body.is-preload
		// Wrapper
		#wrapper
			
			include templates/nav.pug

			// Main
			#main.alt
				// One
				section#one
					.inner
						header.major
							h1 Pictures
						.box.alt
							.row.gtr-50.gtr-uniform

								mixin col4_img(img_href)
									.col-4
										span.image.fit
											img(src=img_href, alt='')

								+col4_img('/images/pic08.jpg')
								+col4_img('/images/pic09.jpg')
								+col4_img('/images/pic10.jpg')
								// Break
								+col4_img('/images/pic08.jpg')
								+col4_img('/images/pic09.jpg')
								+col4_img('/images/pic10.jpg')
								// Break
								+col4_img('/images/pic08.jpg')
								+col4_img('/images/pic09.jpg')
								+col4_img('/images/pic10.jpg')

			include templates/footer.pug
		include templates/script.pug
