// form submit
script(type='text/javascript').
	console.log('Form submission ready.')
	console.log(jQuery)
	console.log($)
	jQuery(document).ready(function(){
		console.log('Document ready.')
		console.log(jQuery('form'))
		jQuery('form').on('click', '.submit', function(event) {

			console.log('Form submit event triggered.')
			
			// Stop propagation, default.
			event.stopPropagation()
			event.preventDefault()

			// Submit form.
			// $(this).parents('form').submit();
			$.post('/contact', {"test": "test"}, function (res, status){
				if (status == 'success'){
					alert(res)
					window.location.href = ""
				}
				else {
					alert('Connection failed.')
					console.log("logs:", res)
				}
			})
		})
	})