// Header
header#header(class=is_landing?'alt style2':'')
	a.logo(href='/')
		strong Pecu
		span Lab
	nav
		a(href='#menu') Menu

// Menu
nav#menu
	ul.links
		li
			a(href='/') Home
		li
			a(href='/teams') Teams
		li
			a(href='/pictures') Pictures
		li
			a(href='/elements') Elements
	ul.actions.stacked
		li
			a.button.primary.fit(href='#') Get Started
		li
			a.button.fit(href='#') Log In